/*
IPAM Federation API

The DDI IPAM Federation application enables a SaaS administrator to manage multiple IPAM systems from one central control point CSP.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipamfederation

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/infobloxopen/universal-ddi-go-client/internal"
)

type NextAvailableFldBlockAPI interface {
	/*
			ListNextAvailableFLDBlocks List the next available __ForwardLookingDelegation__ objects.

			Use this method to get the next "n" available __ForwardLookingDelegation__ objects which can be created considering
		the parameter passed. The response will be "n" __ForwardLookingDelegation__ objects.
		A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest
	*/
	ListNextAvailableFLDBlocks(ctx context.Context) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest

	// ListNextAvailableFLDBlocksExecute executes the request
	//  @return NextAvailableFLDResponse
	ListNextAvailableFLDBlocksExecute(r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) (*NextAvailableFLDResponse, *http.Response, error)
}

// NextAvailableFldBlockAPIService NextAvailableFldBlockAPI service
type NextAvailableFldBlockAPIService internal.Service

type NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest struct {
	ctx        context.Context
	ApiService NextAvailableFldBlockAPI
	cidr       *int64
	count      *int64
	name       *string
	comment    *string
	protocol   *string
}

// The CIDR of the __ForwardLookingDelegation__. This is required.
func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Cidr(cidr int64) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	r.cidr = &cidr
	return r
}

// The count of __ForwardLookingDelegation__ required. If not provided, it will default to 1.
func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Count(count int64) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	r.count = &count
	return r
}

// The name to be provided.
func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Name(name string) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	r.name = &name
	return r
}

// The description for the __ForwardLookingDelegation__. May contain 0 to 1024 characters. Can include UTF-8.
func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Comment(comment string) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	r.comment = &comment
	return r
}

// The version of the address (_ip4_ or _ip6_). If not present then it will default to _ip4_.
func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Protocol(protocol string) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	r.protocol = &protocol
	return r
}

func (r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) Execute() (*NextAvailableFLDResponse, *http.Response, error) {
	return r.ApiService.ListNextAvailableFLDBlocksExecute(r)
}

/*
ListNextAvailableFLDBlocks List the next available __ForwardLookingDelegation__ objects.

Use this method to get the next "n" available __ForwardLookingDelegation__ objects which can be created considering
the parameter passed. The response will be "n" __ForwardLookingDelegation__ objects.
A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest
*/
func (a *NextAvailableFldBlockAPIService) ListNextAvailableFLDBlocks(ctx context.Context) NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest {
	return NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NextAvailableFLDResponse
func (a *NextAvailableFldBlockAPIService) ListNextAvailableFLDBlocksExecute(r NextAvailableFldBlockAPIListNextAvailableFLDBlocksRequest) (*NextAvailableFLDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *NextAvailableFLDResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "NextAvailableFldBlockAPIService.ListNextAvailableFLDBlocks")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/federation/list_next_available_fld"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cidr != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "cidr", r.cidr, "")
	}
	if r.count != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.name != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.comment != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "comment", r.comment, "")
	}
	if r.protocol != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "protocol", r.protocol, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
