/*
IPAM Federation API

The DDI IPAM Federation application enables a SaaS administrator to manage multiple IPAM systems from one central control point CSP.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipamfederation

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/infobloxopen/universal-ddi-go-client/internal"
)

type NextAvailableFldAPI interface {
	/*
		CreateNextAvailableFLD Create the next available __ForwardLookingDelegation__ objects within a specific __FederatedBlock__. Use this method to create the next available __ForwardLookingDelegation__ objects under the specified parent __FederatedBlock__.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id An application specific resource identity of a resource
		@return NextAvailableFldAPICreateNextAvailableFLDRequest
	*/
	CreateNextAvailableFLD(ctx context.Context, id string) NextAvailableFldAPICreateNextAvailableFLDRequest

	// CreateNextAvailableFLDExecute executes the request
	//  @return NextAvailableFLDResponse
	CreateNextAvailableFLDExecute(r NextAvailableFldAPICreateNextAvailableFLDRequest) (*NextAvailableFLDResponse, *http.Response, error)
	/*
			CreateNextAvailableFLDBlocks Create the next available __ForwardLookingDelegation__ objects.

			Use this method to create the next "n" available __ForwardLookingDelegation__ objects considering the parameter passed.
		The response will be "n" __ForwardLookingDelegation__ objects.
		A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return NextAvailableFldAPICreateNextAvailableFLDBlocksRequest
	*/
	CreateNextAvailableFLDBlocks(ctx context.Context) NextAvailableFldAPICreateNextAvailableFLDBlocksRequest

	// CreateNextAvailableFLDBlocksExecute executes the request
	//  @return NextAvailableFLDResponse
	CreateNextAvailableFLDBlocksExecute(r NextAvailableFldAPICreateNextAvailableFLDBlocksRequest) (*NextAvailableFLDResponse, *http.Response, error)
	/*
			CreateNextAvailableFLDForPool Create the next available __ForwardLookingDelegation__ objects within a pool.

			Use this method to allocate the next available __ForwardLookingDelegation__ objects within a specific federated pool.
		Federated blocks within the pool are evaluated in ascending CIDR order (largest address space first).
		Returns the allocated __ForwardLookingDelegation__ objects.

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param id An application specific resource identity of a resource
			@return NextAvailableFldAPICreateNextAvailableFLDForPoolRequest
	*/
	CreateNextAvailableFLDForPool(ctx context.Context, id string) NextAvailableFldAPICreateNextAvailableFLDForPoolRequest

	// CreateNextAvailableFLDForPoolExecute executes the request
	//  @return NextAvailableFLDResponse
	CreateNextAvailableFLDForPoolExecute(r NextAvailableFldAPICreateNextAvailableFLDForPoolRequest) (*NextAvailableFLDResponse, *http.Response, error)
}

// NextAvailableFldAPIService NextAvailableFldAPI service
type NextAvailableFldAPIService internal.Service

type NextAvailableFldAPICreateNextAvailableFLDRequest struct {
	ctx        context.Context
	ApiService NextAvailableFldAPI
	id         string
	body       *CreateNextAvailableFLDRequestForBlock
}

func (r NextAvailableFldAPICreateNextAvailableFLDRequest) Body(body CreateNextAvailableFLDRequestForBlock) NextAvailableFldAPICreateNextAvailableFLDRequest {
	r.body = &body
	return r
}

func (r NextAvailableFldAPICreateNextAvailableFLDRequest) Execute() (*NextAvailableFLDResponse, *http.Response, error) {
	return r.ApiService.CreateNextAvailableFLDExecute(r)
}

/*
CreateNextAvailableFLD Create the next available __ForwardLookingDelegation__ objects within a specific __FederatedBlock__. Use this method to create the next available __ForwardLookingDelegation__ objects under the specified parent __FederatedBlock__.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id An application specific resource identity of a resource
	@return NextAvailableFldAPICreateNextAvailableFLDRequest
*/
func (a *NextAvailableFldAPIService) CreateNextAvailableFLD(ctx context.Context, id string) NextAvailableFldAPICreateNextAvailableFLDRequest {
	return NextAvailableFldAPICreateNextAvailableFLDRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return NextAvailableFLDResponse
func (a *NextAvailableFldAPIService) CreateNextAvailableFLDExecute(r NextAvailableFldAPICreateNextAvailableFLDRequest) (*NextAvailableFLDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *NextAvailableFLDResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "NextAvailableFldAPIService.CreateNextAvailableFLD")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/federation/federated_block/{id}/create_next_available_fld"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(internal.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, internal.ReportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type NextAvailableFldAPICreateNextAvailableFLDBlocksRequest struct {
	ctx        context.Context
	ApiService NextAvailableFldAPI
	body       *NextAvailableFLDRequest
}

func (r NextAvailableFldAPICreateNextAvailableFLDBlocksRequest) Body(body NextAvailableFLDRequest) NextAvailableFldAPICreateNextAvailableFLDBlocksRequest {
	r.body = &body
	return r
}

func (r NextAvailableFldAPICreateNextAvailableFLDBlocksRequest) Execute() (*NextAvailableFLDResponse, *http.Response, error) {
	return r.ApiService.CreateNextAvailableFLDBlocksExecute(r)
}

/*
CreateNextAvailableFLDBlocks Create the next available __ForwardLookingDelegation__ objects.

Use this method to create the next "n" available __ForwardLookingDelegation__ objects considering the parameter passed.
The response will be "n" __ForwardLookingDelegation__ objects.
A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NextAvailableFldAPICreateNextAvailableFLDBlocksRequest
*/
func (a *NextAvailableFldAPIService) CreateNextAvailableFLDBlocks(ctx context.Context) NextAvailableFldAPICreateNextAvailableFLDBlocksRequest {
	return NextAvailableFldAPICreateNextAvailableFLDBlocksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NextAvailableFLDResponse
func (a *NextAvailableFldAPIService) CreateNextAvailableFLDBlocksExecute(r NextAvailableFldAPICreateNextAvailableFLDBlocksRequest) (*NextAvailableFLDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *NextAvailableFLDResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "NextAvailableFldAPIService.CreateNextAvailableFLDBlocks")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/federation/create_next_available_fld"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, internal.ReportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type NextAvailableFldAPICreateNextAvailableFLDForPoolRequest struct {
	ctx        context.Context
	ApiService NextAvailableFldAPI
	id         string
	body       *NextAvailableFLDPoolRequest
}

func (r NextAvailableFldAPICreateNextAvailableFLDForPoolRequest) Body(body NextAvailableFLDPoolRequest) NextAvailableFldAPICreateNextAvailableFLDForPoolRequest {
	r.body = &body
	return r
}

func (r NextAvailableFldAPICreateNextAvailableFLDForPoolRequest) Execute() (*NextAvailableFLDResponse, *http.Response, error) {
	return r.ApiService.CreateNextAvailableFLDForPoolExecute(r)
}

/*
CreateNextAvailableFLDForPool Create the next available __ForwardLookingDelegation__ objects within a pool.

Use this method to allocate the next available __ForwardLookingDelegation__ objects within a specific federated pool.
Federated blocks within the pool are evaluated in ascending CIDR order (largest address space first).
Returns the allocated __ForwardLookingDelegation__ objects.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id An application specific resource identity of a resource
	@return NextAvailableFldAPICreateNextAvailableFLDForPoolRequest
*/
func (a *NextAvailableFldAPIService) CreateNextAvailableFLDForPool(ctx context.Context, id string) NextAvailableFldAPICreateNextAvailableFLDForPoolRequest {
	return NextAvailableFldAPICreateNextAvailableFLDForPoolRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return NextAvailableFLDResponse
func (a *NextAvailableFldAPIService) CreateNextAvailableFLDForPoolExecute(r NextAvailableFldAPICreateNextAvailableFLDForPoolRequest) (*NextAvailableFLDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *NextAvailableFLDResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "NextAvailableFldAPIService.CreateNextAvailableFLDForPool")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/federation/federated_pool/{id}/create_next_available_fld"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(internal.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, internal.ReportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
