/*
IPAM Federation API

The DDI IPAM Federation application enables a SaaS administrator to manage multiple IPAM systems from one central control point CSP.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipamfederation

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/infobloxopen/universal-ddi-go-client/internal"
)

type NextAvailablePoolBlockAPI interface {
	/*
			CreateNextAvailableBlocks Create the next available federated blocks within a pool.

			Use this method to allocate the next available __FederatedBlock__ objects within a specific federated pool.
		This allocates one or more __FederatedBlock__ objects from the specified federated pool.
		This is a thin wrapper that reuses the block-level NAB logic by finding suitable parent blocks in the pool.

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param id An application specific resource identity of a resource
			@return NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest
	*/
	CreateNextAvailableBlocks(ctx context.Context, id string) NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest

	// CreateNextAvailableBlocksExecute executes the request
	//  @return CreateNextAvailableFederatedBlockResponse
	CreateNextAvailableBlocksExecute(r NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest) (*CreateNextAvailableFederatedBlockResponse, *http.Response, error)
}

// NextAvailablePoolBlockAPIService NextAvailablePoolBlockAPI service
type NextAvailablePoolBlockAPIService internal.Service

type NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest struct {
	ctx        context.Context
	ApiService NextAvailablePoolBlockAPI
	id         string
	body       *NextAvailableBlockRequest
}

func (r NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest) Body(body NextAvailableBlockRequest) NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest {
	r.body = &body
	return r
}

func (r NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest) Execute() (*CreateNextAvailableFederatedBlockResponse, *http.Response, error) {
	return r.ApiService.CreateNextAvailableBlocksExecute(r)
}

/*
CreateNextAvailableBlocks Create the next available federated blocks within a pool.

Use this method to allocate the next available __FederatedBlock__ objects within a specific federated pool.
This allocates one or more __FederatedBlock__ objects from the specified federated pool.
This is a thin wrapper that reuses the block-level NAB logic by finding suitable parent blocks in the pool.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id An application specific resource identity of a resource
	@return NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest
*/
func (a *NextAvailablePoolBlockAPIService) CreateNextAvailableBlocks(ctx context.Context, id string) NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest {
	return NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CreateNextAvailableFederatedBlockResponse
func (a *NextAvailablePoolBlockAPIService) CreateNextAvailableBlocksExecute(r NextAvailablePoolBlockAPICreateNextAvailableBlocksRequest) (*CreateNextAvailableFederatedBlockResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *CreateNextAvailableFederatedBlockResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "NextAvailablePoolBlockAPIService.CreateNextAvailableBlocks")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/federation/federated_pool/{id}/next_available_federated_block"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(internal.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, internal.ReportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
