/*
IPAM Federation API

The DDI IPAM Federation application enables a SaaS administrator to manage multiple IPAM systems from one central control point CSP.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ipamfederation

import (
	"github.com/infobloxopen/universal-ddi-go-client/internal"
	"github.com/infobloxopen/universal-ddi-go-client/option"
)

const serviceBasePath = "/api/ddi/v1"

// APIClient manages communication with the IPAM Federation API v1
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	AwsScopeManagementAPI            AwsScopeManagementAPI
	AwsScopeTokenAPI                 AwsScopeTokenAPI
	DelegationAPI                    DelegationAPI
	FederatedBlockAPI                FederatedBlockAPI
	FederatedPoolAPI                 FederatedPoolAPI
	FederatedRealmAPI                FederatedRealmAPI
	ForwardLookingDelegationAPI      ForwardLookingDelegationAPI
	NextAppropriateDelegationAPI     NextAppropriateDelegationAPI
	NextAvailableFederatedBlockAPI   NextAvailableFederatedBlockAPI
	NextAvailableFldAPI              NextAvailableFldAPI
	NextAvailableFldBlockAPI         NextAvailableFldBlockAPI
	NextAvailableOverlappingBlockAPI NextAvailableOverlappingBlockAPI
	NextAvailablePoolBlockAPI        NextAvailablePoolBlockAPI
	NextAvailableReservedBlockAPI    NextAvailableReservedBlockAPI
	OverlappingBlockAPI              OverlappingBlockAPI
	ReservedBlockAPI                 ReservedBlockAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithCSPUrl(string) sets the URL for Universal DDI Cloud Services Portal.
// - WithAPIKey(string) sets the APIKey for accessing the Universal DDI API.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultTags(map[string]string) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.AwsScopeManagementAPI = (*AwsScopeManagementAPIService)(&c.Common)
	c.AwsScopeTokenAPI = (*AwsScopeTokenAPIService)(&c.Common)
	c.DelegationAPI = (*DelegationAPIService)(&c.Common)
	c.FederatedBlockAPI = (*FederatedBlockAPIService)(&c.Common)
	c.FederatedPoolAPI = (*FederatedPoolAPIService)(&c.Common)
	c.FederatedRealmAPI = (*FederatedRealmAPIService)(&c.Common)
	c.ForwardLookingDelegationAPI = (*ForwardLookingDelegationAPIService)(&c.Common)
	c.NextAppropriateDelegationAPI = (*NextAppropriateDelegationAPIService)(&c.Common)
	c.NextAvailableFederatedBlockAPI = (*NextAvailableFederatedBlockAPIService)(&c.Common)
	c.NextAvailableFldAPI = (*NextAvailableFldAPIService)(&c.Common)
	c.NextAvailableFldBlockAPI = (*NextAvailableFldBlockAPIService)(&c.Common)
	c.NextAvailableOverlappingBlockAPI = (*NextAvailableOverlappingBlockAPIService)(&c.Common)
	c.NextAvailablePoolBlockAPI = (*NextAvailablePoolBlockAPIService)(&c.Common)
	c.NextAvailableReservedBlockAPI = (*NextAvailableReservedBlockAPIService)(&c.Common)
	c.OverlappingBlockAPI = (*OverlappingBlockAPIService)(&c.Common)
	c.ReservedBlockAPI = (*ReservedBlockAPIService)(&c.Common)

	return c
}
