/*
Infoblox MISC API

OpenAPI specification for Infoblox NIOS WAPI MISC objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package misc

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/infobloxopen/infoblox-nios-go-client/internal"
)

type ScheduledtaskAPI interface {
	/*
		Delete Delete a scheduledtask object

		Deletes a specific scheduledtask object by reference

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param reference Reference of the scheduledtask object
		@return ScheduledtaskAPIDeleteRequest
	*/
	Delete(ctx context.Context, reference string) ScheduledtaskAPIDeleteRequest

	// DeleteExecute executes the request
	DeleteExecute(r ScheduledtaskAPIDeleteRequest) (*http.Response, error)
	/*
		List Retrieve scheduledtask objects

		Returns a list of scheduledtask objects matching the search criteria

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ScheduledtaskAPIListRequest
	*/
	List(ctx context.Context) ScheduledtaskAPIListRequest

	// ListExecute executes the request
	//  @return ListScheduledtaskResponse
	ListExecute(r ScheduledtaskAPIListRequest) (*ListScheduledtaskResponse, *http.Response, error)
	/*
		Read Get a specific scheduledtask object

		Returns a specific scheduledtask object by reference

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param reference Reference of the scheduledtask object
		@return ScheduledtaskAPIReadRequest
	*/
	Read(ctx context.Context, reference string) ScheduledtaskAPIReadRequest

	// ReadExecute executes the request
	//  @return GetScheduledtaskResponse
	ReadExecute(r ScheduledtaskAPIReadRequest) (*GetScheduledtaskResponse, *http.Response, error)
	/*
		Update Update a scheduledtask object

		Updates a specific scheduledtask object by reference

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param reference Reference of the scheduledtask object
		@return ScheduledtaskAPIUpdateRequest
	*/
	Update(ctx context.Context, reference string) ScheduledtaskAPIUpdateRequest

	// UpdateExecute executes the request
	//  @return UpdateScheduledtaskResponse
	UpdateExecute(r ScheduledtaskAPIUpdateRequest) (*UpdateScheduledtaskResponse, *http.Response, error)
}

// ScheduledtaskAPIService ScheduledtaskAPI service
type ScheduledtaskAPIService internal.Service

type ScheduledtaskAPIDeleteRequest struct {
	ctx        context.Context
	ApiService ScheduledtaskAPI
	reference  string
}

func (r ScheduledtaskAPIDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExecute(r)
}

/*
Delete Delete a scheduledtask object

Deletes a specific scheduledtask object by reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reference Reference of the scheduledtask object
	@return ScheduledtaskAPIDeleteRequest
*/
func (a *ScheduledtaskAPIService) Delete(ctx context.Context, reference string) ScheduledtaskAPIDeleteRequest {
	return ScheduledtaskAPIDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		reference:  reference,
	}
}

// Execute executes the request
func (a *ScheduledtaskAPIService) DeleteExecute(r ScheduledtaskAPIDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []internal.FormFile
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "ScheduledtaskAPIService.Delete")
	if err != nil {
		return nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/scheduledtask/{reference}"
	localVarPath = strings.Replace(localVarPath, "{"+"reference"+"}", url.PathEscape(internal.ParameterValueToString(r.reference, "reference")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ScheduledtaskAPIListRequest struct {
	ctx              context.Context
	ApiService       ScheduledtaskAPI
	returnFields     *string
	returnFieldsPlus *string
	maxResults       *int32
	returnAsObject   *int32
	paging           *int32
	pageId           *string
	filters          *map[string]interface{}
	extattrfilter    *map[string]interface{}
	proxySearch      *string
}

// Enter the field names followed by comma
func (r ScheduledtaskAPIListRequest) ReturnFields(returnFields string) ScheduledtaskAPIListRequest {
	r.returnFields = &returnFields
	return r
}

// Enter the field names followed by comma, this returns the required fields along with the default fields
func (r ScheduledtaskAPIListRequest) ReturnFieldsPlus(returnFieldsPlus string) ScheduledtaskAPIListRequest {
	r.returnFieldsPlus = &returnFieldsPlus
	return r
}

// Enter the number of results to be fetched
func (r ScheduledtaskAPIListRequest) MaxResults(maxResults int32) ScheduledtaskAPIListRequest {
	r.maxResults = &maxResults
	return r
}

// Select 1 if result is required as an object
func (r ScheduledtaskAPIListRequest) ReturnAsObject(returnAsObject int32) ScheduledtaskAPIListRequest {
	r.returnAsObject = &returnAsObject
	return r
}

// Control paging of results
func (r ScheduledtaskAPIListRequest) Paging(paging int32) ScheduledtaskAPIListRequest {
	r.paging = &paging
	return r
}

// Page id for retrieving next page of results
func (r ScheduledtaskAPIListRequest) PageId(pageId string) ScheduledtaskAPIListRequest {
	r.pageId = &pageId
	return r
}

func (r ScheduledtaskAPIListRequest) Filters(filters map[string]interface{}) ScheduledtaskAPIListRequest {
	r.filters = &filters
	return r
}

func (r ScheduledtaskAPIListRequest) Extattrfilter(extattrfilter map[string]interface{}) ScheduledtaskAPIListRequest {
	r.extattrfilter = &extattrfilter
	return r
}

// Search Grid members for data
func (r ScheduledtaskAPIListRequest) ProxySearch(proxySearch string) ScheduledtaskAPIListRequest {
	r.proxySearch = &proxySearch
	return r
}

func (r ScheduledtaskAPIListRequest) Execute() (*ListScheduledtaskResponse, *http.Response, error) {
	return r.ApiService.ListExecute(r)
}

/*
List Retrieve scheduledtask objects

Returns a list of scheduledtask objects matching the search criteria

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ScheduledtaskAPIListRequest
*/
func (a *ScheduledtaskAPIService) List(ctx context.Context) ScheduledtaskAPIListRequest {
	return ScheduledtaskAPIListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListScheduledtaskResponse
func (a *ScheduledtaskAPIService) ListExecute(r ScheduledtaskAPIListRequest) (*ListScheduledtaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *ListScheduledtaskResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "ScheduledtaskAPIService.List")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/scheduledtask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.returnFields != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields", r.returnFields, "form", "")
	}
	if r.returnFieldsPlus != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields+", r.returnFieldsPlus, "form", "")
	}
	if r.maxResults != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_max_results", r.maxResults, "form", "")
	}
	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	if r.paging != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_paging", r.paging, "form", "")
	}
	if r.pageId != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_page_id", r.pageId, "form", "")
	}
	if r.filters != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.extattrfilter != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "extattrfilter", r.extattrfilter, "form", "")
	}
	if r.proxySearch != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_proxy_search", r.proxySearch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type ScheduledtaskAPIReadRequest struct {
	ctx              context.Context
	ApiService       ScheduledtaskAPI
	reference        string
	returnFields     *string
	returnFieldsPlus *string
	returnAsObject   *int32
	proxySearch      *string
}

// Enter the field names followed by comma
func (r ScheduledtaskAPIReadRequest) ReturnFields(returnFields string) ScheduledtaskAPIReadRequest {
	r.returnFields = &returnFields
	return r
}

// Enter the field names followed by comma, this returns the required fields along with the default fields
func (r ScheduledtaskAPIReadRequest) ReturnFieldsPlus(returnFieldsPlus string) ScheduledtaskAPIReadRequest {
	r.returnFieldsPlus = &returnFieldsPlus
	return r
}

// Select 1 if result is required as an object
func (r ScheduledtaskAPIReadRequest) ReturnAsObject(returnAsObject int32) ScheduledtaskAPIReadRequest {
	r.returnAsObject = &returnAsObject
	return r
}

// Search Grid members for data
func (r ScheduledtaskAPIReadRequest) ProxySearch(proxySearch string) ScheduledtaskAPIReadRequest {
	r.proxySearch = &proxySearch
	return r
}

func (r ScheduledtaskAPIReadRequest) Execute() (*GetScheduledtaskResponse, *http.Response, error) {
	return r.ApiService.ReadExecute(r)
}

/*
Read Get a specific scheduledtask object

Returns a specific scheduledtask object by reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reference Reference of the scheduledtask object
	@return ScheduledtaskAPIReadRequest
*/
func (a *ScheduledtaskAPIService) Read(ctx context.Context, reference string) ScheduledtaskAPIReadRequest {
	return ScheduledtaskAPIReadRequest{
		ApiService: a,
		ctx:        ctx,
		reference:  reference,
	}
}

// Execute executes the request
//
//	@return GetScheduledtaskResponse
func (a *ScheduledtaskAPIService) ReadExecute(r ScheduledtaskAPIReadRequest) (*GetScheduledtaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *GetScheduledtaskResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "ScheduledtaskAPIService.Read")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/scheduledtask/{reference}"
	localVarPath = strings.Replace(localVarPath, "{"+"reference"+"}", url.PathEscape(internal.ParameterValueToString(r.reference, "reference")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.returnFields != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields", r.returnFields, "form", "")
	}
	if r.returnFieldsPlus != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields+", r.returnFieldsPlus, "form", "")
	}
	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	if r.proxySearch != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_proxy_search", r.proxySearch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type ScheduledtaskAPIUpdateRequest struct {
	ctx              context.Context
	ApiService       ScheduledtaskAPI
	reference        string
	scheduledtask    *Scheduledtask
	returnFields     *string
	returnFieldsPlus *string
	returnAsObject   *int32
}

// Object data to update
func (r ScheduledtaskAPIUpdateRequest) Scheduledtask(scheduledtask Scheduledtask) ScheduledtaskAPIUpdateRequest {
	r.scheduledtask = &scheduledtask
	return r
}

// Enter the field names followed by comma
func (r ScheduledtaskAPIUpdateRequest) ReturnFields(returnFields string) ScheduledtaskAPIUpdateRequest {
	r.returnFields = &returnFields
	return r
}

// Enter the field names followed by comma, this returns the required fields along with the default fields
func (r ScheduledtaskAPIUpdateRequest) ReturnFieldsPlus(returnFieldsPlus string) ScheduledtaskAPIUpdateRequest {
	r.returnFieldsPlus = &returnFieldsPlus
	return r
}

// Select 1 if result is required as an object
func (r ScheduledtaskAPIUpdateRequest) ReturnAsObject(returnAsObject int32) ScheduledtaskAPIUpdateRequest {
	r.returnAsObject = &returnAsObject
	return r
}

func (r ScheduledtaskAPIUpdateRequest) Execute() (*UpdateScheduledtaskResponse, *http.Response, error) {
	return r.ApiService.UpdateExecute(r)
}

/*
Update Update a scheduledtask object

Updates a specific scheduledtask object by reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reference Reference of the scheduledtask object
	@return ScheduledtaskAPIUpdateRequest
*/
func (a *ScheduledtaskAPIService) Update(ctx context.Context, reference string) ScheduledtaskAPIUpdateRequest {
	return ScheduledtaskAPIUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		reference:  reference,
	}
}

// Execute executes the request
//
//	@return UpdateScheduledtaskResponse
func (a *ScheduledtaskAPIService) UpdateExecute(r ScheduledtaskAPIUpdateRequest) (*UpdateScheduledtaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *UpdateScheduledtaskResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "ScheduledtaskAPIService.Update")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/scheduledtask/{reference}"
	localVarPath = strings.Replace(localVarPath, "{"+"reference"+"}", url.PathEscape(internal.ParameterValueToString(r.reference, "reference")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scheduledtask == nil {
		return localVarReturnValue, nil, internal.ReportError("scheduledtask is required and must be specified")
	}

	if r.returnFields != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields", r.returnFields, "form", "")
	}
	if r.returnFieldsPlus != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields+", r.returnFieldsPlus, "form", "")
	}
	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scheduledtask
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
