/*
DNS DTC API

The DNS DTC is a Universal DDI service providing load balanced DNS resolution.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtc

import (
	"github.com/infobloxopen/universal-ddi-go-client/internal"
	"github.com/infobloxopen/universal-ddi-go-client/option"
)

const serviceBasePath = "/api/ddi/v1"

// APIClient manages communication with the DNS DTC API v1
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	HealthCheckHttpAPI  HealthCheckHttpAPI
	HealthCheckIcmpAPI  HealthCheckIcmpAPI
	HealthCheckPdpAPI   HealthCheckPdpAPI
	HealthCheckSipAPI   HealthCheckSipAPI
	HealthCheckSnmpAPI  HealthCheckSnmpAPI
	HealthCheckTcpAPI   HealthCheckTcpAPI
	PolicyAPI           PolicyAPI
	PoolAPI             PoolAPI
	ServerAPI           ServerAPI
	SnmpUserSecurityAPI SnmpUserSecurityAPI
	TopologyAPI         TopologyAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithCSPUrl(string) sets the URL for Universal DDI Cloud Services Portal.
// - WithAPIKey(string) sets the APIKey for accessing the Universal DDI API.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultTags(map[string]string) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.HealthCheckHttpAPI = (*HealthCheckHttpAPIService)(&c.Common)
	c.HealthCheckIcmpAPI = (*HealthCheckIcmpAPIService)(&c.Common)
	c.HealthCheckPdpAPI = (*HealthCheckPdpAPIService)(&c.Common)
	c.HealthCheckSipAPI = (*HealthCheckSipAPIService)(&c.Common)
	c.HealthCheckSnmpAPI = (*HealthCheckSnmpAPIService)(&c.Common)
	c.HealthCheckTcpAPI = (*HealthCheckTcpAPIService)(&c.Common)
	c.PolicyAPI = (*PolicyAPIService)(&c.Common)
	c.PoolAPI = (*PoolAPIService)(&c.Common)
	c.ServerAPI = (*ServerAPIService)(&c.Common)
	c.SnmpUserSecurityAPI = (*SnmpUserSecurityAPIService)(&c.Common)
	c.TopologyAPI = (*TopologyAPIService)(&c.Common)

	return c
}
