/*
Infoblox THREATPROTECTION API

OpenAPI specification for Infoblox NIOS WAPI THREATPROTECTION objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package threatprotection

import (
	"github.com/infobloxopen/infoblox-nios-go-client/internal"
	"github.com/infobloxopen/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.13.6"

// APIClient manages communication with the Infoblox THREATPROTECTION API 2.13.6
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	ThreatprotectionGridRuleAPI ThreatprotectionGridRuleAPI
	ThreatprotectionProfileAPI ThreatprotectionProfileAPI
	ThreatprotectionProfileRuleAPI ThreatprotectionProfileRuleAPI
	ThreatprotectionRuleAPI ThreatprotectionRuleAPI
	ThreatprotectionRulecategoryAPI ThreatprotectionRulecategoryAPI
	ThreatprotectionRulesetAPI ThreatprotectionRulesetAPI
	ThreatprotectionRuletemplateAPI ThreatprotectionRuletemplateAPI
	ThreatprotectionStatisticsAPI ThreatprotectionStatisticsAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSUsername(string) sets the Username for the NIOS Portal.
// - WithNIOSPassword(string) sets the Password for the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.ThreatprotectionGridRuleAPI = (*ThreatprotectionGridRuleAPIService)(&c.Common)
	c.ThreatprotectionProfileAPI = (*ThreatprotectionProfileAPIService)(&c.Common)
	c.ThreatprotectionProfileRuleAPI = (*ThreatprotectionProfileRuleAPIService)(&c.Common)
	c.ThreatprotectionRuleAPI = (*ThreatprotectionRuleAPIService)(&c.Common)
	c.ThreatprotectionRulecategoryAPI = (*ThreatprotectionRulecategoryAPIService)(&c.Common)
	c.ThreatprotectionRulesetAPI = (*ThreatprotectionRulesetAPIService)(&c.Common)
	c.ThreatprotectionRuletemplateAPI = (*ThreatprotectionRuletemplateAPIService)(&c.Common)
	c.ThreatprotectionStatisticsAPI = (*ThreatprotectionStatisticsAPIService)(&c.Common)

	return c
}