/*
Infoblox DHCP API

OpenAPI specification for Infoblox NIOS WAPI DHCP objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dhcp

import (
	"github.com/infobloxopen/infoblox-nios-go-client/internal"
	"github.com/infobloxopen/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.13.6"

// APIClient manages communication with the Infoblox DHCP API 2.13.6
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	DhcpStatisticsAPI DhcpStatisticsAPI
	DhcpfailoverAPI DhcpfailoverAPI
	DhcpoptiondefinitionAPI DhcpoptiondefinitionAPI
	DhcpoptionspaceAPI DhcpoptionspaceAPI
	FilterfingerprintAPI FilterfingerprintAPI
	FiltermacAPI FiltermacAPI
	FilternacAPI FilternacAPI
	FilteroptionAPI FilteroptionAPI
	FilterrelayagentAPI FilterrelayagentAPI
	FingerprintAPI FingerprintAPI
	FixedaddressAPI FixedaddressAPI
	FixedaddresstemplateAPI FixedaddresstemplateAPI
	Ipv6dhcpoptiondefinitionAPI Ipv6dhcpoptiondefinitionAPI
	Ipv6dhcpoptionspaceAPI Ipv6dhcpoptionspaceAPI
	Ipv6filteroptionAPI Ipv6filteroptionAPI
	Ipv6fixedaddressAPI Ipv6fixedaddressAPI
	Ipv6fixedaddresstemplateAPI Ipv6fixedaddresstemplateAPI
	Ipv6rangeAPI Ipv6rangeAPI
	Ipv6rangetemplateAPI Ipv6rangetemplateAPI
	Ipv6sharednetworkAPI Ipv6sharednetworkAPI
	LeaseAPI LeaseAPI
	MacfilteraddressAPI MacfilteraddressAPI
	OrderedrangesAPI OrderedrangesAPI
	RangeAPI RangeAPI
	RangetemplateAPI RangetemplateAPI
	RoaminghostAPI RoaminghostAPI
	SharednetworkAPI SharednetworkAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSUsername(string) sets the Username for the NIOS Portal.
// - WithNIOSPassword(string) sets the Password for the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.DhcpStatisticsAPI = (*DhcpStatisticsAPIService)(&c.Common)
	c.DhcpfailoverAPI = (*DhcpfailoverAPIService)(&c.Common)
	c.DhcpoptiondefinitionAPI = (*DhcpoptiondefinitionAPIService)(&c.Common)
	c.DhcpoptionspaceAPI = (*DhcpoptionspaceAPIService)(&c.Common)
	c.FilterfingerprintAPI = (*FilterfingerprintAPIService)(&c.Common)
	c.FiltermacAPI = (*FiltermacAPIService)(&c.Common)
	c.FilternacAPI = (*FilternacAPIService)(&c.Common)
	c.FilteroptionAPI = (*FilteroptionAPIService)(&c.Common)
	c.FilterrelayagentAPI = (*FilterrelayagentAPIService)(&c.Common)
	c.FingerprintAPI = (*FingerprintAPIService)(&c.Common)
	c.FixedaddressAPI = (*FixedaddressAPIService)(&c.Common)
	c.FixedaddresstemplateAPI = (*FixedaddresstemplateAPIService)(&c.Common)
	c.Ipv6dhcpoptiondefinitionAPI = (*Ipv6dhcpoptiondefinitionAPIService)(&c.Common)
	c.Ipv6dhcpoptionspaceAPI = (*Ipv6dhcpoptionspaceAPIService)(&c.Common)
	c.Ipv6filteroptionAPI = (*Ipv6filteroptionAPIService)(&c.Common)
	c.Ipv6fixedaddressAPI = (*Ipv6fixedaddressAPIService)(&c.Common)
	c.Ipv6fixedaddresstemplateAPI = (*Ipv6fixedaddresstemplateAPIService)(&c.Common)
	c.Ipv6rangeAPI = (*Ipv6rangeAPIService)(&c.Common)
	c.Ipv6rangetemplateAPI = (*Ipv6rangetemplateAPIService)(&c.Common)
	c.Ipv6sharednetworkAPI = (*Ipv6sharednetworkAPIService)(&c.Common)
	c.LeaseAPI = (*LeaseAPIService)(&c.Common)
	c.MacfilteraddressAPI = (*MacfilteraddressAPIService)(&c.Common)
	c.OrderedrangesAPI = (*OrderedrangesAPIService)(&c.Common)
	c.RangeAPI = (*RangeAPIService)(&c.Common)
	c.RangetemplateAPI = (*RangetemplateAPIService)(&c.Common)
	c.RoaminghostAPI = (*RoaminghostAPIService)(&c.Common)
	c.SharednetworkAPI = (*SharednetworkAPIService)(&c.Common)

	return c
}