/*
Infoblox DISCOVERY API

OpenAPI specification for Infoblox NIOS WAPI DISCOVERY objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package discovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"

	"github.com/infobloxopen/infoblox-nios-go-client/internal"
)

type DiscoveryDevicesupportbundleAPI interface {
	/*
		Delete Delete a discovery:devicesupportbundle object

		Deletes a specific discovery:devicesupportbundle object by reference

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param reference Reference of the discovery:devicesupportbundle object
		@return DiscoveryDevicesupportbundleAPIDeleteRequest
	*/
	Delete(ctx context.Context, reference string) DiscoveryDevicesupportbundleAPIDeleteRequest

	// DeleteExecute executes the request
	DeleteExecute(r DiscoveryDevicesupportbundleAPIDeleteRequest) (*http.Response, error)
	/*
		List Retrieve discovery:devicesupportbundle objects

		Returns a list of discovery:devicesupportbundle objects matching the search criteria

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return DiscoveryDevicesupportbundleAPIListRequest
	*/
	List(ctx context.Context) DiscoveryDevicesupportbundleAPIListRequest

	// ListExecute executes the request
	//  @return ListDiscoveryDevicesupportbundleResponse
	ListExecute(r DiscoveryDevicesupportbundleAPIListRequest) (*ListDiscoveryDevicesupportbundleResponse, *http.Response, error)
	/*
		Read Get a specific discovery:devicesupportbundle object

		Returns a specific discovery:devicesupportbundle object by reference

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param reference Reference of the discovery:devicesupportbundle object
		@return DiscoveryDevicesupportbundleAPIReadRequest
	*/
	Read(ctx context.Context, reference string) DiscoveryDevicesupportbundleAPIReadRequest

	// ReadExecute executes the request
	//  @return GetDiscoveryDevicesupportbundleResponse
	ReadExecute(r DiscoveryDevicesupportbundleAPIReadRequest) (*GetDiscoveryDevicesupportbundleResponse, *http.Response, error)
}

// DiscoveryDevicesupportbundleAPIService DiscoveryDevicesupportbundleAPI service
type DiscoveryDevicesupportbundleAPIService internal.Service

type DiscoveryDevicesupportbundleAPIDeleteRequest struct {
	ctx        context.Context
	ApiService DiscoveryDevicesupportbundleAPI
	reference  string
}

func (r DiscoveryDevicesupportbundleAPIDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExecute(r)
}

/*
Delete Delete a discovery:devicesupportbundle object

Deletes a specific discovery:devicesupportbundle object by reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reference Reference of the discovery:devicesupportbundle object
	@return DiscoveryDevicesupportbundleAPIDeleteRequest
*/
func (a *DiscoveryDevicesupportbundleAPIService) Delete(ctx context.Context, reference string) DiscoveryDevicesupportbundleAPIDeleteRequest {
	return DiscoveryDevicesupportbundleAPIDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		reference:  reference,
	}
}

// Execute executes the request
func (a *DiscoveryDevicesupportbundleAPIService) DeleteExecute(r DiscoveryDevicesupportbundleAPIDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []internal.FormFile
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "DiscoveryDevicesupportbundleAPIService.Delete")
	if err != nil {
		return nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/discovery:devicesupportbundle/{reference}"
	localVarPath = strings.Replace(localVarPath, "{"+"reference"+"}", url.PathEscape(internal.ParameterValueToString(r.reference, "reference")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DiscoveryDevicesupportbundleAPIListRequest struct {
	ctx              context.Context
	ApiService       DiscoveryDevicesupportbundleAPI
	returnFields     *string
	returnFieldsPlus *string
	maxResults       *int32
	returnAsObject   *int32
	paging           *int32
	pageId           *string
	filters          *map[string]interface{}
	extattrfilter    *map[string]interface{}
	proxySearch      *string
}

// Enter the field names followed by comma
func (r DiscoveryDevicesupportbundleAPIListRequest) ReturnFields(returnFields string) DiscoveryDevicesupportbundleAPIListRequest {
	r.returnFields = &returnFields
	return r
}

// Enter the field names followed by comma, this returns the required fields along with the default fields
func (r DiscoveryDevicesupportbundleAPIListRequest) ReturnFieldsPlus(returnFieldsPlus string) DiscoveryDevicesupportbundleAPIListRequest {
	r.returnFieldsPlus = &returnFieldsPlus
	return r
}

// Enter the number of results to be fetched
func (r DiscoveryDevicesupportbundleAPIListRequest) MaxResults(maxResults int32) DiscoveryDevicesupportbundleAPIListRequest {
	r.maxResults = &maxResults
	return r
}

// Select 1 if result is required as an object
func (r DiscoveryDevicesupportbundleAPIListRequest) ReturnAsObject(returnAsObject int32) DiscoveryDevicesupportbundleAPIListRequest {
	r.returnAsObject = &returnAsObject
	return r
}

// Control paging of results
func (r DiscoveryDevicesupportbundleAPIListRequest) Paging(paging int32) DiscoveryDevicesupportbundleAPIListRequest {
	r.paging = &paging
	return r
}

// Page id for retrieving next page of results
func (r DiscoveryDevicesupportbundleAPIListRequest) PageId(pageId string) DiscoveryDevicesupportbundleAPIListRequest {
	r.pageId = &pageId
	return r
}

func (r DiscoveryDevicesupportbundleAPIListRequest) Filters(filters map[string]interface{}) DiscoveryDevicesupportbundleAPIListRequest {
	r.filters = &filters
	return r
}

func (r DiscoveryDevicesupportbundleAPIListRequest) Extattrfilter(extattrfilter map[string]interface{}) DiscoveryDevicesupportbundleAPIListRequest {
	r.extattrfilter = &extattrfilter
	return r
}

// Search Grid members for data
func (r DiscoveryDevicesupportbundleAPIListRequest) ProxySearch(proxySearch string) DiscoveryDevicesupportbundleAPIListRequest {
	r.proxySearch = &proxySearch
	return r
}

func (r DiscoveryDevicesupportbundleAPIListRequest) Execute() (*ListDiscoveryDevicesupportbundleResponse, *http.Response, error) {
	return r.ApiService.ListExecute(r)
}

/*
List Retrieve discovery:devicesupportbundle objects

Returns a list of discovery:devicesupportbundle objects matching the search criteria

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DiscoveryDevicesupportbundleAPIListRequest
*/
func (a *DiscoveryDevicesupportbundleAPIService) List(ctx context.Context) DiscoveryDevicesupportbundleAPIListRequest {
	return DiscoveryDevicesupportbundleAPIListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListDiscoveryDevicesupportbundleResponse
func (a *DiscoveryDevicesupportbundleAPIService) ListExecute(r DiscoveryDevicesupportbundleAPIListRequest) (*ListDiscoveryDevicesupportbundleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *ListDiscoveryDevicesupportbundleResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "DiscoveryDevicesupportbundleAPIService.List")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/discovery:devicesupportbundle"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.returnFields != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields", r.returnFields, "form", "")
	}
	if r.returnFieldsPlus != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields+", r.returnFieldsPlus, "form", "")
	}
	if r.maxResults != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_max_results", r.maxResults, "form", "")
	}
	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	if r.paging != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_paging", r.paging, "form", "")
	}
	if r.pageId != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_page_id", r.pageId, "form", "")
	}
	if r.filters != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.extattrfilter != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "extattrfilter", r.extattrfilter, "form", "")
	}
	if r.proxySearch != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_proxy_search", r.proxySearch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}

type DiscoveryDevicesupportbundleAPIReadRequest struct {
	ctx              context.Context
	ApiService       DiscoveryDevicesupportbundleAPI
	reference        string
	returnFields     *string
	returnFieldsPlus *string
	returnAsObject   *int32
	proxySearch      *string
}

// Enter the field names followed by comma
func (r DiscoveryDevicesupportbundleAPIReadRequest) ReturnFields(returnFields string) DiscoveryDevicesupportbundleAPIReadRequest {
	r.returnFields = &returnFields
	return r
}

// Enter the field names followed by comma, this returns the required fields along with the default fields
func (r DiscoveryDevicesupportbundleAPIReadRequest) ReturnFieldsPlus(returnFieldsPlus string) DiscoveryDevicesupportbundleAPIReadRequest {
	r.returnFieldsPlus = &returnFieldsPlus
	return r
}

// Select 1 if result is required as an object
func (r DiscoveryDevicesupportbundleAPIReadRequest) ReturnAsObject(returnAsObject int32) DiscoveryDevicesupportbundleAPIReadRequest {
	r.returnAsObject = &returnAsObject
	return r
}

// Search Grid members for data
func (r DiscoveryDevicesupportbundleAPIReadRequest) ProxySearch(proxySearch string) DiscoveryDevicesupportbundleAPIReadRequest {
	r.proxySearch = &proxySearch
	return r
}

func (r DiscoveryDevicesupportbundleAPIReadRequest) Execute() (*GetDiscoveryDevicesupportbundleResponse, *http.Response, error) {
	return r.ApiService.ReadExecute(r)
}

/*
Read Get a specific discovery:devicesupportbundle object

Returns a specific discovery:devicesupportbundle object by reference

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reference Reference of the discovery:devicesupportbundle object
	@return DiscoveryDevicesupportbundleAPIReadRequest
*/
func (a *DiscoveryDevicesupportbundleAPIService) Read(ctx context.Context, reference string) DiscoveryDevicesupportbundleAPIReadRequest {
	return DiscoveryDevicesupportbundleAPIReadRequest{
		ApiService: a,
		ctx:        ctx,
		reference:  reference,
	}
}

// Execute executes the request
//
//	@return GetDiscoveryDevicesupportbundleResponse
func (a *DiscoveryDevicesupportbundleAPIService) ReadExecute(r DiscoveryDevicesupportbundleAPIReadRequest) (*GetDiscoveryDevicesupportbundleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *GetDiscoveryDevicesupportbundleResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "DiscoveryDevicesupportbundleAPIService.Read")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/discovery:devicesupportbundle/{reference}"
	localVarPath = strings.Replace(localVarPath, "{"+"reference"+"}", url.PathEscape(internal.ParameterValueToString(r.reference, "reference")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.returnFields != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields", r.returnFields, "form", "")
	}
	if r.returnFieldsPlus != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_fields+", r.returnFieldsPlus, "form", "")
	}
	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	if r.proxySearch != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_proxy_search", r.proxySearch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
