/*
Infoblox DISCOVERY API

OpenAPI specification for Infoblox NIOS WAPI DISCOVERY objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package discovery

import (
	"github.com/infobloxopen/infoblox-nios-go-client/internal"
	"github.com/infobloxopen/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.13.6"

// APIClient manages communication with the Infoblox DISCOVERY API 2.13.6
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	DiscoveryAPI DiscoveryAPI
	DiscoveryCredentialgroupAPI DiscoveryCredentialgroupAPI
	DiscoveryDeviceAPI DiscoveryDeviceAPI
	DiscoveryDevicecomponentAPI DiscoveryDevicecomponentAPI
	DiscoveryDeviceinterfaceAPI DiscoveryDeviceinterfaceAPI
	DiscoveryDeviceneighborAPI DiscoveryDeviceneighborAPI
	DiscoveryDevicesupportbundleAPI DiscoveryDevicesupportbundleAPI
	DiscoveryDiagnostictaskAPI DiscoveryDiagnostictaskAPI
	DiscoveryGridpropertiesAPI DiscoveryGridpropertiesAPI
	DiscoveryMemberpropertiesAPI DiscoveryMemberpropertiesAPI
	DiscoverySdnnetworkAPI DiscoverySdnnetworkAPI
	DiscoveryStatusAPI DiscoveryStatusAPI
	DiscoveryVrfAPI DiscoveryVrfAPI
	VdiscoverytaskAPI VdiscoverytaskAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSUsername(string) sets the Username for the NIOS Portal.
// - WithNIOSPassword(string) sets the Password for the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.DiscoveryAPI = (*DiscoveryAPIService)(&c.Common)
	c.DiscoveryCredentialgroupAPI = (*DiscoveryCredentialgroupAPIService)(&c.Common)
	c.DiscoveryDeviceAPI = (*DiscoveryDeviceAPIService)(&c.Common)
	c.DiscoveryDevicecomponentAPI = (*DiscoveryDevicecomponentAPIService)(&c.Common)
	c.DiscoveryDeviceinterfaceAPI = (*DiscoveryDeviceinterfaceAPIService)(&c.Common)
	c.DiscoveryDeviceneighborAPI = (*DiscoveryDeviceneighborAPIService)(&c.Common)
	c.DiscoveryDevicesupportbundleAPI = (*DiscoveryDevicesupportbundleAPIService)(&c.Common)
	c.DiscoveryDiagnostictaskAPI = (*DiscoveryDiagnostictaskAPIService)(&c.Common)
	c.DiscoveryGridpropertiesAPI = (*DiscoveryGridpropertiesAPIService)(&c.Common)
	c.DiscoveryMemberpropertiesAPI = (*DiscoveryMemberpropertiesAPIService)(&c.Common)
	c.DiscoverySdnnetworkAPI = (*DiscoverySdnnetworkAPIService)(&c.Common)
	c.DiscoveryStatusAPI = (*DiscoveryStatusAPIService)(&c.Common)
	c.DiscoveryVrfAPI = (*DiscoveryVrfAPIService)(&c.Common)
	c.VdiscoverytaskAPI = (*VdiscoverytaskAPIService)(&c.Common)

	return c
}