<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
        <a href="/docs/providers/infoblox/index.html">Infoblox Provider</a>
        </li>


        <li>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li>
            <a href="/docs/providers/infoblox/r/a_record.html">infoblox_a_record</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/cname_record.html">infoblox_cname_record</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/ip_allocation.html">infoblox_ip_allocation</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/ip_association.html">infoblox_ip_association</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/network.html">infoblox_network</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/network_view.html">infoblox_network_view</a>
          </li>
          <li>
            <a href="/docs/providers/infoblox/r/ptr_record.html">infoblox_ptr_record</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>




